body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    perspective: 800px;
    background-color: rgb(34, 33, 32);
}

.calculator {
    transform-style: preserve-3d;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    padding: 20px;
    background-color: darkorange;
    border: 6px solid #5d42d1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    background-color: #fff3f7;
    border: 1px solid #6d0aee;
    border-radius: 5px;
    font-size: 24px;
    color: #ff6699;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    background-color: #ffecf2;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #ff6699;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

button:hover {
    background-color: #ff96ad;
}